s---
title: ErrorContext.exception
category: irispy-client
---

<Section>
  에러에 대한 `Exception` 객체입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  errorContext.exception
  ~~~

  <Section>
    ### 값

    `Exception` - 에러에 대한 `Exception` 객체입니다.
  </Section>
</Section>