
<section>
  특정 스크립트의 전역 스코프 멤버의 값을 설정합니다. 수행 성공 여부를 반환합니다.
</section>
<section>
  ## 구문

  ~~~js
  Bridge.setVariableOf(scriptName, variable, value);
  ~~~

  <section>
  ### 매개변수

  <params>
    <param-item param="scriptName" type="String">
    스크립트의 이름
    </param-item>
    <param-item param="variable" type="String">
    값을 설정할 멤버의 이름
    </param-item>
    <param-item param="value" type="any">
    특정 멤버에 할당할 값
    </param-item>
  </params>
  </section>
  <section>
  ### 반환값

  `Boolean` - 멤버에 성공적으로 값을 할당할 경우 `true`, 값을 할당하는데 실패할 경우 `false`를 반환합니다.
  </section>
</section>