---
title: iris.bot
category: irispy-client
---

<Section>
  `iris.bot` 모듈은 카카오톡봇의 동작을 위한 기본적인 요소들을 포함합니다.
</Section>
<Section>
  ## 클래스

  <Table>
    <Thead>
      <Tr>
        <Th colSpan={2}>`iris.bot`의 클래스</Th>
      </Tr>
    </Thead>
    <Tbody>
      <Tr>
        <Td><span>[`Bot`](/reference/irispy-client/iris.bot/Class/Bot)</span></Td>
        <Td>
          봇을 생성하고 관리하기 위한 클래스입니다.
        </Td>
      </Tr>
    </Tbody>
  </Table>
</Section>