---
title: IrisAPI.get_info()
category: irispy-client
---

<Section>
  Iris의 현재 구성 정보를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  irisAPI.get_info()
  ~~~

  <Section>
    ### 반환값

    `dict` - Iris의 현재 구성 정보를 반환합니다. 자세한 내용은 [여기](/reference/iris/Endpoint/config)를 참조하세요.
  </Section>
</Section>