---
title: PyKV.list_keys()
category: irispy-client
---

<Section>
  데이터베이스 내 모든 키의 리스트를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  pyKV.list_keys()
  ~~~

  <Section>
    ### 반환값

    `list[str]` - 데이터베이스 내 모든 키의 리스트를 반환합니다.
  </Section>
</Section>