---
title: Event.Activity.DESTROY
category: API2
compat:
  data: api2/Object/Event
  feature: Activity.DESTROY
---

<Section>
  API2의 [`activityDestroy`](/reference/api2/Event/activityDestroy) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.Activity.DESTROY;
  ~~~

  <Section>
    ### 상수값

    `String` - `"activityDestroy"`
  </Section>
</Section>