---
title: Message.v
category: irispy-client
---

<Section>
  메시지의 추가적인 데이터입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  message.v
  ~~~

  <Section>
    ### 값

    `dict` - 메시지의 추가적인 데이터입니다.
  </Section>
</Section>