
<section>
  가장 최근에 수신한 이미지의 `android.graphics.Bitmap`값을 반환합니다.

  <noti type="warning">
  해당 메소드는 안드로이드 11 이상에서 동작하지 않습니다.
  </noti>
</section>
<section>
  ## 구문

  ~~~js
  Api.getLastImageBitmap();
  ~~~

  <section>
  ### 반환값

  `android.graphics.Bitmap` - 가장 최근에 수신한 이미지의 `android.graphics.Bitmap`값을 반환합니다.
  </section>
</section>