---
title: Bot.getListenersMap()
category: API2
compat:
  data: api2/Object/Bot
  feature: getListenersMap
---

<Section>
  이벤트 별 리스너들의 배열을 `키: 값` 형태의 map으로 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  bot.getListenersMap();
  ~~~

  <Section>
    ### 반환값

    `java.util.Map<String, Function[]>` - 이벤트 별 리스너들의 배열을 `키: 값` 형태로 반환합니다.
  </Section>
</Section>