
`iris.bot.models` 모듈은 카카오톡봇의 개발에 필요한 데이터들을 포함합니다.
## 클래스

<table>
<thead>
  <tr>
  <th colspan="2">`iris.bot.models`의 클래스</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><span>[`Avatar`](/reference/irispy-client/iris.bot.models/Class/Avatar)</span></td>
  <td>프로필에 대한 데이터입니다.</td>
  </tr>
  <tr>
  <td><span>[`ChatContext`](/reference/irispy-client/iris.bot.models/Class/ChatContext)</span></td>
  <td>채팅 이벤트의 context입니다.</td>
  </tr>
  <tr>
  <td><span>[`ChatImage`](/reference/irispy-client/iris.bot.models/Class/ChatImage)</span></td>
  <td>채팅 메시지의 이미지에 대한 데이터입니다.</td>
  </tr>
  <tr>
  <td><span>[`ErrorContext`](/reference/irispy-client/iris.bot.models/Class/ErrorContext)</span></td>
  <td>에러 이벤트의 context입니다.</td>
  </tr>
  <tr>
  <td><span>[`Message`](/reference/irispy-client/iris.bot.models/Class/Message)</span></td>
  <td>채팅방의 메시지에 대한 데이터입니다.</td>
  </tr>
  <tr>
  <td><span>[`Room`](/reference/irispy-client/iris.bot.models/Class/Room)</span></td>
  <td>채팅방에 대한 데이터입니다.</td>
  </tr>
  <tr>
  <td><span>[`User`](/reference/irispy-client/iris.bot.models/Class/User)</span></td>
  <td>사용자에 대한 데이터입니다.</td>
  </tr>
</tbody>
</table>
