
<section>
  API2의 [`notificationPosted`](/reference/api2/Event/notificationPosted) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.NOTIFICATION_POSTED;
  ~~~

  <section>
  ### 상수값

  `String` - `"notificationPosted"`
  </section>
</section>