
<section>
  연결되어 있는 네트워크의 타입을 반환합니다.
</section>
<section>
  ## 구문

  ~~~js
  Device.getConnectedNetworkType();
  ~~~

  <section>
  ### 반환값

  `String` - 연결되어 있는 네트워크의 타입을 반환합니다.
  </section>
</section>