---
title: IrisAPI.reply_media()
category: irispy-client
---

<Section>
  메시지가 전송된 방 또는 특정 방에 미디어 파일을 보냅니다.
</Section>
<Section>
  ## 구문

  ~~~py
  irisAPI.reply_media(room_id, files)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"room_id"} type={"int"}>
        미디어 파일을 보낼 방의 id
      </ParamItem>
      <ParamItem param={"files"} type={"list[BufferedIOBase | bytes | PIL.Image.Image | str]"}>
        보낼 미디어 파일의 리스트
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `dict` - 미디어 파일 전송에 대한 결과를 반환합니다. 자세한 내용은 [여기](/reference/iris/Endpoint/reply)를 참조하세요.
  </Section>
</Section>