---
title: ChatImage.url
category: irispy-client
---

<Section>
  이미지의 URL 리스트입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  chatImage.url
  ~~~

  <Section>
    ### 값

    `list[str]` - 이미지의 URL 리스트입니다.
  </Section>
</Section>