
<section>
  메시지가 발신된 방에 메시지를 발신합니다.
</section>
<section>
  ## 구문

  ~~~js
  cmd.reply(content);
  ~~~

  <section>
  ### 매개변수

  <params>
    <param-item param="content" type="String">
    보낼 메시지의 내용
    </param-item>
  </params>
  </section>
</section>