
<section>
  새 `ChatImage` 객체를 생성합니다.
</section>
<section>
  ## 구문

  ~~~py
  ChatImage(message)
  ~~~

  <section>
  ### 매개변수

  <params>
    <param-item param="message" type="iris.bot.models.Message">
    이미지를 가져올 메시지에 대한 [`Message`](/reference/irispy-client/iris.bot.models/Class/Message) 인스턴스
    </param-item>
  </params>
  </section>
</section>