---
title: Author.name
category: API2
compat:
  data: api2/Argument/Author
  feature: name
---

<Section>
  발신자의 이름입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  author.name;
  ~~~

  <Section>
    ### 값

    `String` - 발신자의 이름입니다.
  </Section>
</Section>