
<section>
  `path1` 경로의 파일을 `path2` 경로로 이동합니다. 파일 이동의 성공 여부를 반환합니다.
</section>
<section>
  ## 구문

  ~~~js
  FileStream.moveFile(path1, path2);
  ~~~

  <section>
  ### 매개변수

  <params>
    <param-item param="path1" type="String">
    이동할 파일의 경로
    </param-item>
    <param-item param="path2" type="String">
    이동 위치가 되는 경로
    </param-item>
  </params>
  </section>
  <section>
  ### 반환값

  `Boolean` - 파일 이동에 성공할 경우 `true`, 실패할 경우 `false`를 반환합니다.
  </section>
</section>