---
title: iris.kakaolink.KakaoLinkModule.KakaoLink2FAException
category: irispy-client
inheritance:
  - name: BaseException
    url: https://docs.python.org/3.13/library/exceptions.html#BaseException
    children:
      - name: Exception
        url: https://docs.python.org/3.13/library/exceptions.html#Exception
        children:
          - name: KakaoLinkException
            url: /reference/irispy-client/iris.kakaolink.KakaoLinkModule/Exception/KakaoLinkException
---

<Section>
  `iris.kakaolink.KakaoLinkModule.KakaoLink2FAException`는 카카오링크 API 사용을 위한 2단계 인증 수행 중 발생한 예외 클래스입니다.
</Section>