---
title: Broadcast.getListenerCount()
category: API2
compat:
  data: api2/Object/Broadcast
  feature: getListenerCount
---

<Section>
  특정 브로드캐스트에 등록된 리스너의 개수를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Broadcast.getListenerCount(broadcastName);
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"broadcastName"} type={"String"}>
        브로드캐스트 이름
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `Number` - `broadcastName` 이름의 브로드캐스트에 등록된 리스너의 개수를 반환합니다.
  </Section>
</Section>