
<section>
  수신한 이미지에 대한 `android.graphics.Bitmap` 값을 반환합니다.
</section>
<section>
  ## 구문

  ~~~js
  imageDB.getImageBitmap();
  ~~~

  <section>
  ### 반환값

  `android.graphics.Bitmap` - 수신한 이미지에 대한 `android.graphics.Bitmap` 값을 반환합니다.
  </section>
</section>