---
title: Event.TICK
category: API2
compat:
  data: api2/Object/Event
  feature: TICK
---

<Section>
  API2의 [`tick`](/reference/api2/Event/tick) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.TICK;
  ~~~

  <Section>
    ### 상수값

    `String` - `"tick"`
  </Section>
</Section>