
<Section>
  API2의 [`activityRestart`](/reference/api2/Event/activityRestart) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.Activity.RESTART;
  ~~~

  <Section>
  ### 상수값

  `String` - `"activityRestart"`
  </Section>
</Section>