---
title: Bot.setPower()
category: API2
compat:
  data: api2/Object/Bot
  feature: setPower
---

<Section>
  `Bot` 객체에 대응하는 스크립트의 활성화 여부를 제어합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  bot.setPower(power);
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"power"} type={"Boolean"}>
        스크립트의 활성화 여부
      </ParamItem>
    </ParamList>
  </Section>
</Section>