---
title: /dashboard
category: Iris
---

<Section>
  Iris의 구성을 위한 웹 UI입니다. 웹 브라우저를 통해 접속할 수 있습니다.

  <Dl>
    <Dt>엔드포인트</Dt>
    <Dd>
      <Endpoint method={"GET"}>`/dashboard`</Endpoint>
    </Dd>
    <Dt>Content-Type</Dt>
    <Dd>
      `-/-`
    </Dd>
  </Dl>
</Section>
<Section>
  ## 요청

  <Section>
    ### 예제

    ~~~bash
    curl http://[YOUR_DEVICE_IP]:[bot_http_port]/dashboard
    ~~~
  </Section>
</Section>
<Section>
  ## 응답

   Iris의 구성을 위한 웹 UI (HTML)입니다. 웹 브라우저를 통해 접속할 수 있습니다.
</Section>