
<section>
  API2의 [`activityCreate`](/reference/api2/Event/activityCreate) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.Activity.CREATE;
  ~~~

  <section>
  ### 상수값

  `String` - `"activityCreate"`
  </section>
</section>