---
title: console.clear()
category: API2
compat:
  data: api2/Object/console
  feature: clear
---

<Section>
  스크립트 로그를 모두 삭제합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  console.clear();
  ~~~
</Section>