---
title: BotManager.getBotNames()
category: API2
compat:
  data: api2/Object/BotManager
  feature: getBotNames
---

<Section>
  모든 `Bot` 객체 인스턴스의 이름을 배열로 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  BotManager.getBotNames();
  ~~~

  <Section>
    ### 반환값

    `String[]` - 모든 `Bot` 객체 인스턴스의 이름을 배열로 반환합니다.
  </Section>
</Section>