---
title: PyKV.delete()
category: irispy-client
---

<Section>
  데이터베이스 내 키-값 쌍을 삭제합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  pyKV.delete(key)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"key"} type={"str"}>
        삭제할 키-값 쌍의 키
      </ParamItem>
    </ParamList>
  </Section>
</Section>