
<section>
  `iris.bot.models.Avatar`는 프로필에 대한 데이터를 위한 클래스입니다.
</section>
<section>
  ## 생성자

  <table>
  <thead>
    <tr>
    <th>`iris.bot.models.Avatar`의 생성자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
      [`Avatar`](/reference/irispy-client/iris.bot.models/Class/Avatar/Avatar)`(id: int, chat_id: int, api: IrisAPI)` \
      새 `Avatar` 객체를 생성합니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>
<section>
  ## 인스턴스 프로퍼티

  <table>
  <thead>
    <tr>
    <th colspan="2">`iris.bot.models.Avatar`의 인스턴스 프로퍼티</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><span>`bytes`</span></td>
    <td>
      [`img`](/reference/irispy-client/iris.bot.models/Class/Avatar/img) \
      프로필 이미지의 바이트 값입니다. 이 프로퍼티는 캐시됩니다.
    </td>
    </tr>
    <tr>
    <td><span>`str`</span></td>
    <td>
      [`url`](/reference/irispy-client/iris.bot.models/Class/Avatar/url) \
      프로필 이미지의 URL입니다. 이 프로퍼티는 캐시됩니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>