---
title: PyKV.search_key()
category: irispy-client
---

<Section>
  데이터베이스에서 값에 특정 검색어가 포함된 키-값 쌍의 리스트를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  pyKV.search_key(searchString)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"searchString"} type={"str"}>
        데이터베이스에서 검색할 키-값 쌍의 키
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `list[dict]` - 키에 `searchString`가 포함된 키-값 쌍의 리스트를 반환합니다.
  </Section>
</Section>