
데이터베이스에 키-값 쌍을 저장합니다.
## 구문

~~~py
pyKV.put(key, value)
~~~

### 매개변수

<params>
<param-item param="key" type="str">
저장할 쌍의 키
</param-item>
<param-item param="value" type="Any">
저장할 쌍의 값
</param-item>
</params>
