---
title: Bot.emitter
category: irispy-client
---

<Section>
  이벤트의 관리를 위한 `EventEmitter` 객체입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  bot.emitter
  ~~~

  <Section>
    ### 값

    [`iris.bot._internal.emitter.EventEmitter`](/reference/irispy-client/iris.bot._internal.emitter/Class/EventEmitter) - 이벤트의 관리를 위한 `EventEmitter` 객체입니다.
  </Section>
</Section>