
<Section>
  API2의 [`activityStop`](/reference/api2/Event/activityStop) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.Activity.STOP;
  ~~~

  <Section>
  ### 상수값

  `String` - `"activityStop"`
  </Section>
</Section>