---
title: Message.command
category: irispy-client
---

<Section>
  메시지의 명령어 부분입니다. 메시지의 첫번째 단어를 가리킵니다.
</Section>
<Section>
  ## 구문

  ~~~py
  message.command
  ~~~

  <Section>
    ### 값

    `str` - 메시지의 명령어 부분입니다. 메시지의 첫번째 단어를 가리킵니다.
  </Section>
</Section>