
메시지가 전송된 방 또는 특정 방에 미디어 파일을 보냅니다.
## 구문

~~~py
chatContext.reply_media(files)
chatContext.reply_media(files, room_id)
~~~

### 매개변수

<params>
<param-item param="files" type="list[BufferedIOBase | bytes | PIL.Image.Image | str]">
보낼 미디어 파일의 리스트
</param-item>
<param-item param="room_id" type="int" defaultVal="`None`" optional>
미디어 파일을 보낼 방의 id
</param-item>
</params>
