---
title: FileStream.getParentPath()
category: API2
compat:
  data: api2/Object/FileStream
  feature: getParentPath
---

<Section>
  `path` 경로의 부모 디렉토리 경로를 반환합니다. `path`가 최상위 경로일 경우 `null`을 반환합니다. 경로의 존재 여부를 고려하지 않습니다.
</Section>
<Section>
  ## 구문

  ~~~js
  FileStream.getParentPath(path);
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"path"} type={"String"}>
        부모 디렉토리 경로를 확인할 경로
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `String` - `path` 경로의 부모 디렉토리 경로를 반환합니다. `path`가 최상위 경로일 경우 `null`을 반환합니다.
  </Section>
</Section>