
<section>
  `Author` 객체는 발신자에 관한 정보를 담은 객체입니다.
</section>
<section>
  ## 인스턴스 프로퍼티

  <table>
  <thead>
    <tr>
    <th colspan="2">`Author` 객체의 인스턴스 프로퍼티</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><span>[`Image`](/reference/api2/Argument/Image)</span></td>
    <td>
      [`avatar`](/reference/api2/Argument/Author/avatar) \
      발신자의 프로필 이미지에 대한 [`Image`](/reference/api2/Argument/Image) 객체입니다.
    </td>
    </tr>
    <tr>
    <td><span>`String`</span></td>
    <td>
      [`hash`](/reference/api2/Argument/Author/hash) \
      발신자의 고유 해시입니다. 해시는 같은 방 내에서 고유합니다.
    </td>
    </tr>
    <tr>
    <td><span>`String`</span></td>
    <td>
      [`name`](/reference/api2/Argument/Author/name) \
      발신자의 이름입니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>