---
title: ChatRoom.name
category: StarLight
---

<Section>
  방의 이름입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  room.name;
  ~~~

  <Section>
    ### 값

    `String` - 방의 이름입니다.
  </Section>
</Section>