---
title: Message.image
category: irispy-client
---

<Section>
  메시지가 1개 이상의 이미지인 경우 `ChatImage` 객체입니다. 이미지가 아닐 경우 `None`입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  message.image
  ~~~

  <Section>
    ### 값

    [`iris.bot.models.ChatImage`](/reference/irispy-client/iris.bot.models/Class/ChatImage)` | None` - 메시지가 1개 이상의 이미지인 경우 `ChatImage` 객체입니다. 이미지가 아닐 경우 `None`입니다.
  </Section>
</Section>