---
title: Event.BATTERY_LEVEL_CHANGED
category: API2
compat:
  data: api2/Object/Event
  feature: BATTERY_LEVEL_CHANGED
---

<Section>
  API2의 [`batteryLevelChanged`](/reference/api2/Event/batteryLevelChanged) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.BATTERY_LEVEL_CHANGED;
  ~~~

  <Section>
    ### 상수값

    `String` - `"batteryLevelChanged"`
  </Section>
</Section>