---
title: Security.base64Encode()
category: API2
compat:
  data: api2/Object/Security
  feature: base64Encode
---

<Section>
  `value`를 Base64 암호화한 값을 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Security.base64Encode(value);
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"value"} type={"String"}>
        암호화할 값
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `String` - `value`를 Base64 암호화한 값을 반환합니다.
  </Section>
</Section>