
<section>
  API2의 [`activityBackPressed`](/reference/api2/Event/activityBackPressed) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.Activity.BACK_PRESSED;
  ~~~

  <section>
  ### 상수값

  `String` - `"activityBackPressed"`
  </section>
</section>