
<section>
  `iris.bot.Bot`는 카카오톡봇을 생성하고 관리하기 위한 클래스입니다.
</section>
<section>
  ## 생성자

  <table>
  <thead>
    <tr>
    <th>`iris.bot.Bot`의 생성자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
      [`Bot`](/reference/irispy-client/iris.bot/Class/Bot/Bot)`(iris_url: str, *, max_workers: int = None)` \
      새 `Bot` 객체를 생성합니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>
<section>
  ## 인스턴스 프로퍼티

  <table>
  <thead>
    <tr>
    <th colspan="2">`iris.bot.Bot`의 인스턴스 프로퍼티</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><span>[`iris.bot._internal.iris.IrisAPI`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisAPI)</span></td>
    <td>
      [`api`](/reference/irispy-client/iris.bot/Class/Bot/api) \
      Iris 서버와의 상호작용을 위한 `IrisAPI` 객체입니다.
    </td>
    </tr>
    <tr>
    <td><span>[`iris.bot._internal.emitter.EventEmitter`](/reference/irispy-client/iris.bot._internal.emitter/Class/EventEmitter)</span></td>
    <td>
      [`emitter`](/reference/irispy-client/iris.bot/Class/Bot/emitter) \
      이벤트의 관리를 위한 `EventEmitter` 객체입니다.
    </td>
    </tr>
    <tr>
    <td><span>`str`</span></td>
    <td>
      [`iris_url`](/reference/irispy-client/iris.bot/Class/Bot/iris_url) \
      Iris가 사용하는 서버의 URL입니다.
    </td>
    </tr>
    <tr>
    <td><span>`str`</span></td>
    <td>
      [`iris_ws_endpoint`](/reference/irispy-client/iris.bot/Class/Bot/iris_ws_endpoint) \
      Iris가 사용하는 WebSocket 엔드포인트입니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>
<section>
  ## 인스턴스 메소드

  <table>
  <thead>
    <tr>
    <th colspan="2">`iris.bot.Bot`의 인스턴스 메소드</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><span>`None`</span></td>
    <td>
      [`run`](/reference/irispy-client/iris.bot/Class/Bot/run)`()` \
      카카오톡봇을 시작하고 Iris 서버에 연결합니다. 블로킹 메소드입니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>
<section>
  ## 인스턴스 데코레이터

  <table>
  <thead>
    <tr>
    <th colspan="2">`iris.bot.Bot`의 인스턴스 데코레이터</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><span>*[`Callable`](https://docs.python.org/3/library/typing.html#typing.Callable)*</span></td>
    <td>
      [`on_event`](/reference/irispy-client/iris.bot/Class/Bot/on_event)`(name: str)` \
      이벤트 핸들러를 등록하기 위한 데코레이터입니다.
    </td>
    </tr>
  </tbody>
  </table>
</section>