---
title: Device.getAndroidVersionName()
category: 레거시 API
compat:
  data: legacy/Object/Device
  feature: getAndroidVersionName
---

<Section>
  앱 구동 환경의 안드로이드 버전 이름을 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Device.getAndroidVersionName();
  ~~~

  <Section>
    ### 반환값

    `String` - 앱 구동 환경의 안드로이드 버전 이름을 반환합니다.
  </Section>
</Section>