
<Section>
  API2의 [`activityPause`](/reference/api2/Event/activityPause) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.Activity.PAUSE;
  ~~~

  <Section>
  ### 상수값

  `String` - `"activityPause"`
  </Section>
</Section>