
<section>
  API2의 [`activityPause`](/reference/api2/Event/activityPause) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.Activity.PAUSE;
  ~~~

  <section>
  ### 상수값

  `String` - `"activityPause"`
  </section>
</section>