---
title: Bot.iris_url
category: irispy-client
---

<Section>
  Iris가 사용하는 서버의 URL입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  bot.iris_url
  ~~~

  <Section>
    ### 값

    `str` - Iris가 사용하는 서버의 URL입니다.
  </Section>
</Section>