---
title: MediaSender.clearCache()
category: API2
compat:
  data: api2/Object/MediaSender
  feature: clearCache
---

<Section>
  캐시를 삭제합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  mediaSender.clearCache();
  ~~~
</Section>