---
title: Bridge.evalInScript()
category: 레거시 API
compat:
  data: legacy/Object/Bridge
  feature: evalInScript
---

<Section>
  특정 스크립트의 전역 스코프에서 문자열로 표현된 JavaScript 코드를 실행합니다. 실행한 코드의 반환값을 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Bridge.evalInScript(scriptName, src);
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"scriptName"} type={"String"}>
        JavaScript 코드를 실행할 스크립트의 이름
      </ParamItem>
      <ParamItem param={"src"} type={"String"}>
        문자열로 표현된 JavaScript 코드
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `any` - `scriptName` 스크립트에서 실행한 코드의 반환값을 반환합니다.
  </Section>
</Section>