
<section>
  새 `IrisLink` 객체를 생성합니다.
</section>
<section>
  ## 구문

  ~~~py
  IrisLink(iris_url)
  ~~~

  <section>
  ### 매개변수

  <params>
    <param-item param="iris_url" type="str">
    Iris가 사용할 서버의 URL
    </param-item>
  </params>
  </section>
</section>