---
title: iris.bot._internal.iris.IrisRequest
category: irispy-client
---

<Section>
  `iris.bot._internal.iris.IrisRequest`는 Iris의 요청에 대한 데이터입니다. 이 클래스는 데이터 클래스입니다.
</Section>
<Section>
  ## 인스턴스 프로퍼티

  <Table>
    <Thead>
      <Tr>
        <Th colSpan={2}>`iris.bot._internal.iris.IrisRequest`의 인스턴스 프로퍼티</Th>
      </Tr>
    </Thead>
    <Tbody>
      <Tr>
        <Td><span>`str`</span></Td>
        <Td>
          [`msg`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisRequest/msg) \
          메시지의 내용입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`dict`</span></Td>
        <Td>
          [`raw`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisRequest/raw) \
          원시 이벤트 데이터입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`str`</span></Td>
        <Td>
          [`room`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisRequest/room) \
          메시지가 온 방의 이름입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`str`</span></Td>
        <Td>
          [`sender`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisRequest/sender) \
          메시지를 보낸 사용자의 이름입니다.
        </Td>
      </Tr>
    </Tbody>
  </Table>
</Section>