
알림에 클릭 가능한 버튼과 클릭할 때 호출될 콜백 함수를 설정합니다.
## 구문

~~~js
NotificationBuilder.onClick(title, callback);
~~~

### 매개변수

<params>
<param-item param="title" type="String">
버튼의 제목
</param-item>
<param-item param="callback" type="(id) =&gt; Any?">
버튼을 클릭할 때 호출될 콜백 함수
</param-item>
<params>
<param-item param="id" type="Number">
  알림의 ID
</param-item>
</params>
</params>
### 반환값

`NotificationBuilder` - 해당 `NotificationBuilder` 객체
