---
title: Message.packageName
category: StarLight
---

<Section>
  메시지가 발신된 메신저 앱의 패키지명입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  msg.packageName;
  ~~~

  <Section>
    ### 값

    `String` - 메시지가 발신된 메신저 앱의 패키지명입니다.
  </Section>
</Section>