---
title: Event
category: API2
compat:
  data: api2/Object/Event
  feature: "*"
---
<Section>
  `Event` 객체는 API2의 이벤트들에 대한 상수들을 제공하는 객체입니다.
</Section>
<Section>
  ## 상수

  <Table>
    <Thead>
      <Tr>
        <Th colSpan="2">`Event` 객체의 상수</Th>
      </Tr>
    </Thead>
    <Tbody>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.BACK_PRESSED`](/reference/api2/Object/Event/Activity.BACK_PRESSED)` = "activityBackPressed"` \
          API2의 [`activityBackPressed`](/reference/api2/Event/activityBackPressed) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.CREATE`](/reference/api2/Object/Event/Activity.CREATE)` = "activityCreate"` \
          API2의 [`activityCreate`](/reference/api2/Event/activityCreate) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.DESTROY`](/reference/api2/Object/Event/Activity.DESTROY)` = "activityDestroy"` \
          API2의 [`activityDestroy`](/reference/api2/Event/activityDestroy) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.PAUSE`](/reference/api2/Object/Event/Activity.PAUSE)` = "activityPause"` \
          API2의 [`activityPause`](/reference/api2/Event/activityPause) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.RESTART`](/reference/api2/Object/Event/Activity.RESTART)` = "activityRestart"` \
          API2의 [`activityRestart`](/reference/api2/Event/activityRestart) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.RESUME`](/reference/api2/Object/Event/Activity.RESUME)` = "activityResume"` \
          API2의 [`activityResume`](/reference/api2/Event/activityResume) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.START`](/reference/api2/Object/Event/Activity.START)` = "activityStart"` \
          API2의 [`activityStart`](/reference/api2/Event/activityStart) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`Activity.STOP`](/reference/api2/Object/Event/Activity.STOP)` = "activityStop"` \
          API2의 [`activityStop`](/reference/api2/Event/activityStop) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`BATTERY_LEVEL_CHANGED`](/reference/api2/Object/Event/BATTERY_LEVEL_CHANGED)` = "batteryLevelChanged"` \
          API2의 [`batteryLevelChanged`](/reference/api2/Event/batteryLevelChanged) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`COMMAND`](/reference/api2/Object/Event/COMMAND)` = "command"` \
          API2의 [`command`](/reference/api2/Event/command) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`MESSAGE`](/reference/api2/Object/Event/MESSAGE)` = "message"` \
          API2의 [`message`](/reference/api2/Event/message) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`NOTIFICATION_POSTED`](/reference/api2/Object/Event/NOTIFICATION_POSTED)` = "notificationPosted"` \
          API2의 [`notificationPosted`](/reference/api2/Event/notificationPosted) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`NOTIFICATION_REMOVED`](/reference/api2/Object/Event/NOTIFICATION_REMOVED)` = "notificationRemoved"` \
          API2의 [`notificationRemoved`](/reference/api2/Event/notificationRemoved) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`START_COMPILE`](/reference/api2/Object/Event/START_COMPILE)` = "startCompile"` \
          API2의 [`startCompile`](/reference/api2/Event/startCompile) 이벤트입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`String`</span></Td>
        <Td>
          [`TICK`](/reference/api2/Object/Event/TICK)` = "tick"` \
          API2의 [`tick`](/reference/api2/Event/tick) 이벤트입니다.
        </Td>
      </Tr>
    </Tbody>
  </Table>
</Section>