---
title: Bot.api
category: irispy-client
---

<Section>
  Iris 서버와의 상호작용을 위한 `IrisAPI` 객체입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  bot.api
  ~~~

  <Section>
    ### 값

    [`iris.bot._internal.iris.IrisAPI`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisAPI) - Iris 서버와의 상호작용을 위한 `IrisAPI` 객체입니다.
  </Section>
</Section>