
<section>
  전송할 미디어 파일의 기본 디렉토리를 반환합니다.
</section>
<section>
  ## 구문

  ~~~js
  mediaSender.getBaseDirectory();
  ~~~

  <section>
  ### 반환값

  `Boolean` - 전송할 미디어 파일의 기본 디렉토리 경로를 반환합니다.
  </section>
</section>