---
title: FileStream.isFile()
category: 레거시 API
compat:
  data: legacy/Object/FileStream
  feature: isFile
---

<Section>
  `path` 경로가 파일인지의 여부를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  FileStream.isFile(path);
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"path"} type={"String"}>
        파일인지 확인할 경로
      </ParamItem>
    </ParamList>
  </Section>
  <Section>
    ### 반환값

    `Boolean` - `path` 경로가 파일일 경우 `true`, 파일이 아닐 경우 `false`를 반환합니다.
  </Section>
</Section>