---
title: Room 생성자
category: irispy-client
---

<Section>
  새 `Room` 객체를 생성합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  Room(id, name, api)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"id"} type={"int"}>
        방의 id
      </ParamItem>
      <ParamItem param={"name"} type={"str"}>
        방의 이름
      </ParamItem>
      <ParamItem param={"api"} type={"iris.bot._internal.iris.IrisAPI"}>
        Iris API의 조작을 위한 [`IrisAPI`](/reference/irispy-client/iris.bot._internal.iris/Class/IrisAPI) 인스턴스
      </ParamItem>
    </ParamList>
  </Section>
</Section>