
<Section>
  모든 `Bot` 객체 인스턴스의 개수를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  BotManager.getBotCount();
  ~~~

  <Section>
  ### 반환값

  `Number` - 모든 `Bot` 객체 인스턴스의 개수를 반환합니다.
  </Section>
</Section>