---
title: KakaoLinkCookieStorage.save()
category: irispy-client
---

<Section>
  쿠키를 저장합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  kakaoLinkCookieStorage.save(cookies)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"cookies"} type={"dict"}>
        저장할 쿠키
      </ParamItem>
    </ParamList>
  </Section>
</Section>