
특정 지역의 행정구역코드를 반환합니다.
## 구문

~~~js
Utils.getZoneIdByName(location);
~~~

### 매개변수

<params>
<param-item param="location" type="String">
지역명
</param-item>
</params>
### 반환값

`String` - `location` 지역의 행정구역코드를 반환합니다.
