---
title: EventEmitter.register()
category: irispy-client
---

<Section>
  특정 이벤트에 대한 핸들러 함수를 등록합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  eventEmitter.register(name, func)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"name"} type={"str"}>
        핸들러를 등록할 이벤트 이름
      </ParamItem>
      <ParamItem param={"func"} type={"Callable"}>
        등록할 핸들러 함수
      </ParamItem>
    </ParamList>
  </Section>
</Section>