---
title: Iris
category: 자습서
---

<Section>
  Iris를 이용한 카카오톡봇 개발을 학습합니다. Iris의 설치 뿐만 아니라 Iris를 위한 여러 라이브러리를 통해 다양한 프로그래밍 언어를 학습할 수 있습니다.
</Section>
<Section>
  ## 로드맵

  <LearnRoadmap>
    <Learn doc={"/learn/iris/installation"}/>
  </LearnRoadmap>
</Section>