
<section>
  [wake lock](https://developer.android.com/develop/background-work/background-tasks/awake/wakelock)을 획득합니다.

  <noti type="danger">
  wake lock 생성 후 오랜 시간 유지하는 것은 기기의 배터리 수명에 부정적 영향을 줄 수 있습니다. 사용할 경우 가능한 한 짧은 시간동안만 유지하는 것을 권장합니다.
  </noti>
</section>
<section>
  ## 구문

  ~~~js
  Device.acquireWakeLock(levelAndFlags);
  Device.acquireWakeLock(levelAndFlags, tag);
  Device.acquireWakeLock(levelAndFlags, tag, timeout);
  ~~~

  <section>
  ### 매개변수

  <params>
    <param-item param="levelAndFlags" type="Number">
    wake lock의 수준을 나타내는 플래그
    <details
      summary="wake lock 플래그 ([`android.os.PowerManager`](https://developer.android.com/reference/android/os/PowerManager))">
      <table class="table-fixed">
      <thead>
        <tr class="hidden md:table-row">
        <th></th>
        <th>CPU</th>
        <th>화면</th>
        <th>키보드</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td><span>[`PARTIAL_WAKE_LOCK`](https://developer.android.com/reference/android/os/PowerManager#PARTIAL_WAKE_LOCK)` = 1 (0x00000001)`</span></td>
        <td><span><span class="inline md:hidden">CPU: </span>실행\*</span></td>
        <td><span><span class="inline md:hidden">화면: </span>꺼짐</span></td>
        <td><span><span class="inline md:hidden">키보드: </span>꺼짐</span></td>
        </tr>
        <tr>
        <td><span>[`FULL_WAKE_LOCK`](https://developer.android.com/reference/android/os/PowerManager#FULL_WAKE_LOCK)` = 26 (0x0000001a)`</span></td>
        <td><span><span class="inline md:hidden">CPU: </span>실행</span></td>
        <td><span><span class="inline md:hidden">화면: </span>켜짐 (어둡게)</span></td>
        <td><span><span class="inline md:hidden">키보드: </span>꺼짐</span></td>
        </tr>
        <tr>
        <td><span>[`SCREEN_DIM_WAKE_LOCK`](https://developer.android.com/reference/android/os/PowerManager#SCREEN_DIM_WAKE_LOCK)` = 6 (0x00000006)`</span></td>
        <td><span><span class="inline md:hidden">CPU: </span>실행</span></td>
        <td><span><span class="inline md:hidden">화면: </span>켜짐 (밝게)</span></td>
        <td><span><span class="inline md:hidden">키보드: </span>꺼짐</span></td>
        </tr>
        <tr>
        <td><span>[`SCREEN_BRIGHT_WAKE_LOCK`](https://developer.android.com/reference/android/os/PowerManager#SCREEN_BRIGHT_WAKE_LOCK)` = 10 (0x0000000a)`</span></td>
        <td><span><span class="inline md:hidden">CPU: </span>실행</span></td>
        <td><span><span class="inline md:hidden">화면: </span>켜짐 (밝게)</span></td>
        <td><span><span class="inline md:hidden">키보드: </span>켜짐 (밝게)</span></td>
        </tr>
      </tbody>
      </table>
      \* 기기가 사용자에 의해 sleep 상태로 전환되어도 실행 상태를 유지합니다.
    </details>
    </param-item>
    <param-item param="tag" type="String" defaultVal="- 메신저봇R: `com.xfl.msgbot:default_wake_lock_tag`&#10;- StarLight: `dev.mooner.starlight:api_wakelock_tag`" optional>
    디버깅을 위한 클래스 이름 또는 다른 이름 태그
    </param-item>
    <param-item param="timeout" type="Number" defaultVal="`null`" optional>
    wake lock을 해제할 시간(밀리초; ms)
    </param-item>
  </params>
  </section>
</section>
