---
title: Device.getPhoneBrand()
category: API2
compat:
  data: api2/Object/Device
  feature: getPhoneBrand
---

<Section>
  앱 구동 기기의 브랜드명을 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Device.getPhoneBrand();
  ~~~

  <Section>
    ### 반환값

    `String` - 앱 구동 기기의 브랜드명을 반환합니다.
  </Section>
</Section>