---
title: KakaoLinkCookieStorage.load()
category: irispy-client
---

<Section>
  저장한 쿠키를 불러옵니다.
</Section>
<Section>
  ## 구문

  ~~~py
  kakaoLinkCookieStorage.load()
  ~~~

  <Section>
    ### 반환값

    `dict` - 저장한 쿠키를 반환합니다.
  </Section>
</Section>