
`path` 경로 파일의 용량(Byte)을 반환합니다. 파일이 존재하지 않거나 디렉토리일 경우 `-1`을 반환합니다.
## 구문

~~~js
FileStream.getFileSize(path);
~~~

### 매개변수

<params>
<param-item param="path" type="String">
용량을 확인할 파일의 경로
</param-item>
</params>
### 반환값

`Number` - `path` 경로 파일의 용량(Byte)을 반환합니다. 파일이 존재하지 않거나 디렉토리일 경우 `-1`을 반환합니다.
