---
title: IrisRequest.sender
category: irispy-client
---

<Section>
  메시지를 보낸 사용자의 이름입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  irisRequest.sender
  ~~~

  <Section>
    ### 값

    `str` - 메시지를 보낸 사용자의 이름입니다.
  </Section>
</Section>