---
title: Message.has_param
category: irispy-client
---

<Section>
  메시지에 매개변수가 존재하는지의 여부입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  message.has_param
  ~~~

  <Section>
    ### 값

    `bool` - 메시지에 매개변수가 존재하는지의 여부입니다.
  </Section>
</Section>