---
title: iris.util.pykv
category: irispy-client
---

<Section>
  `iris.util.pykv` 모듈은 SQLite을 사용하는 key-value DB에 접근하기 위한 모듈입니다.
</Section>
<Section>
  ## 클래스

  <Table>
    <Thead>
      <Tr>
        <Th colSpan={2}>`iris.util.pykv`의 클래스</Th>
      </Tr>
    </Thead>
    <Tbody>
      <Tr>
        <Td><span>[`PyKV`](/reference/irispy-client/iris.util.pykv/Class/PyKV)</span></Td>
        <Td>SQLite을 사용하는 key-value DB에 접근/조작하기 위한 클래스입니다.</Td>
      </Tr>
    </Tbody>
  </Table>
</Section>