---
title: MediaSender.returnToAppNow()
category: API2
compat:
  data: api2/Object/MediaSender
  feature: returnToAppNow
---

<Section>
  카카오톡봇 앱으로 돌아가고 정상적인 수행 여부를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  mediaSender.returnToAppNow();
  ~~~

  <Section>
    ### 반환값

    `Boolean` - 카카오톡봇 앱으로의 복귀 명령에 오류가 없을 경우 `true`, 오류가 있을 경우 `false`를 반환합니다.
  </Section>
</Section>