
<section>
  API2의 [`startCompile`](/reference/api2/Event/startCompile) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.START_COMPILE;
  ~~~

  <section>
  ### 상수값

  `String` - `"startCompile"`
  </section>
</section>