
`iris.kakaolink.KakaoLinkModule.KakaoLinkCookieStorage`는 카카오링크 전송에 필요한 쿠키를 관리하기 위한 클래스입니다.
## 생성자

<table>
<thead>
  <tr>
  <th>`iris.kakaolink.KakaoLinkModule.KakaoLinkCookieStorage`의 생성자</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td>
    [`KakaoLinkCookieStorage`](/reference/irispy-client/iris.kakaolink.KakaoLinkModule/Class/KakaoLinkCookieStorage/KakaoLinkCookieStorage)`()` \
    새 `KakaoLinkCookieStorage` 객체를 생성합니다.
  </td>
  </tr>
</tbody>
</table>
## 인스턴스 메소드

<table>
<thead>
  <tr>
  <th colspan="2">`iris.kakaolink.KakaoLinkModule.KakaoLink`의 인스턴스 메소드</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><span>`None`</span></td>
  <td>
    [`clear`](/reference/irispy-client/iris.kakaolink.KakaoLinkModule/Class/KakaoLinkCookieStorage/clear)`()` \
    저장한 쿠키를 삭제합니다.
  </td>
  </tr>
  <tr>
  <td><span>`dict`</span></td>
  <td>
    [`load`](/reference/irispy-client/iris.kakaolink.KakaoLinkModule/Class/KakaoLinkCookieStorage/load)`()` \
    저장한 쿠키를 불러옵니다.
  </td>
  </tr>
  <tr>
  <td><span>`None`</span></td>
  <td>
    [`save`](/reference/irispy-client/iris.kakaolink.KakaoLinkModule/Class/KakaoLinkCookieStorage/save)`(cookies: dict)` \
    쿠키를 저장합니다.
  </td>
  </tr>
</tbody>
</table>
