---
title: KakaoLinkAuthorizationProvider.get_authorization()
category: irispy-client
---

<Section>
  카카오링크 API에 접근하기 위한 access token을 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  kakaoLinkAuthorizationProvider.get_authorization()
  ~~~

  <Section>
    ### 반환값

    `str` - 카카오링크 API에 접근하기 위한 access token을 반환합니다.
  </Section>
</Section>