
<section>
  API2의 [`activityResume`](/reference/api2/Event/activityResume) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.Activity.RESUME;
  ~~~

  <section>
  ### 상수값

  `String` - `"activityResume"`
  </section>
</section>