
<Section>
  API2의 [`activityResume`](/reference/api2/Event/activityResume) 이벤트입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Event.Activity.RESUME;
  ~~~

  <Section>
  ### 상수값

  `String` - `"activityResume"`
  </Section>
</Section>