---
title: Message.sender
category: StarLight
---

<Section>
  메시지의 발신자에 대한 [`ChatSender`](/reference/starlight/Argument/ChatSender) 객체입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  msg.sender;
  ~~~

  <Section>
    ### 값

    `ChatSender` - 메시지의 발신자에 대한 `ChatSender` 객체입니다.
  </Section>
</Section>