---
title: Message.id
category: irispy-client
---

<Section>
  메시지에 대한 id입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  message.id
  ~~~

  <Section>
    ### 값

    `int` - 메시지에 대한 id입니다.
  </Section>
</Section>