---
title: Iris 설치하기
category: 자습서
---

<Section>
  Iris는 다양한 플랫폼에서 다양한 프로그래밍 언어를 사용해 카카오톡봇을 개발할 수 있게 합니다. Iris를 이용한 카카오톡봇을 개발하기 위해서는 환경에 맞는 설치 방법을 택해야 합니다.

  해당 자습서는 다양한 환경에서 Iris를 설치하는 방법을 안내합니다.
</Section>
<Section>
  ## 환경 별 설치 방법

  - [Ubuntu에 설치하기](/learn/iris/installation/on-ubuntu)
</Section>