---
title: iris.kakaolink.KakaoLinkModule.KakaoLinkException
category: irispy-client
inheritance:
  - name: BaseException
    url: https://docs.python.org/3.13/library/exceptions.html#BaseException
    children:
      - name: Exception
        url: https://docs.python.org/3.13/library/exceptions.html#Exception
---

<Section>
  `iris.kakaolink.KakaoLinkModule.KakaoLinkException`는 카카오링크를 위한 작업 중 발생한 예외 클래스입니다.
</Section>