---
title: Bot.compile()
category: API2
compat:
  data: api2/Object/Bot
  feature: compile
---

<Section>
  `Bot`객체에 대응하는 스크립트를 컴파일합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  bot.compile();
  ~~~
</Section>