---
title: ChatSender.profileBitmap
category: StarLight
---

<Section>
  발신자의 프로필 이미지에 대한 `android.graphics.Bitmap` 값입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  sender.profileBitmap;
  ~~~

  <Section>
    ### 값

    `android.graphics.Bitmap` - 발신자의 프로필 이미지에 대한 `android.graphics.Bitmap` 값입니다.
  </Section>
</Section>