---
title: JavaScript 고급
category: 자습서
milestone:
  next: learn/js/advanced/1-constructor-function
---

<Section>
  해당 문서는 [JavaScript 중급](/learn/js/intermediate)에 이어 고급 JavaScript의 feature를 학습하기 위한 자습서입니다. 
  이 자습서를 통해 JavaScript의 고급 feature뿐만 아니라, 객체 지향 프로그래밍의 개념을 학습할 수 있습니다. 카카오톡봇의 소스코드를 여러 파일로 분리해 관리하는 모듈화를 익힐 수 있습니다.
</Section>