
<section>
  API2의 [`command`](/reference/api2/Event/command) 이벤트입니다.
</section>
<section>
  ## 구문

  ~~~js
  Event.COMMAND;
  ~~~

  <section>
  ### 상수값

  `String` - `"command"`
  </section>
</section>