
특정 ID로 식별되는 프로젝트에 대한 [`Project`](/reference/starlight/Object/Project) 객체를 반환합니다.
## 구문

~~~js
Projects.ofId(id);
~~~

### 매개변수

<params>
<param-item param="id" type="String">
프로젝트의 고유 ID
</param-item>
</params>
### 반환값

`Project` - `id`로 식별되는 프로젝트에 대한 `Project` 객체를 반환합니다.
