---
title: Device.getMaxMemory()
category: API2
compat:
  data: api2/Object/Device
  feature: getMaxMemory
---

<Section>
  앱이 사용하려고 시도하는 최대 메모리 크기(Byte)를 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Device.getMaxMemory();
  ~~~

  <Section>
    ### 반환값

    `Number` - 앱이 사용하려고 시도하는 최대 메모리 크기(Byte)를 반환합니다.
  </Section>
</Section>