
`Http` 객체는 웹 상에서의 request(리퀘스트; 요청)에 관한 기능을 제공하는 객체입니다.
## 정적 메소드

<table>
<thead>
  <tr>
  <th colspan="2">`Http` 객체의 정적 메소드</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><span>`void`</span></td>
  <td>
    [`request`](/reference/api2/Object/Http/request(Object,Function))`(option: Object, callBack: (error: java.lang.Exception?,
    response: org.jsoup.Connection.Response?, doc: org.jsoup.nodes.Document?) => Any)` \
    [`jsoup`](https://jsoup.org/)을 이용해 옵션에 따라 비동기 request를 보냅니다.
  </td>
  </tr>
  <tr>
  <td><span>`void`</span></td>
  <td>
    [`request`](/reference/api2/Object/Http/request(String,Function))`(url: String, callBack: (error: java.lang.Exception?,
    response: org.jsoup.Connection.Response?, doc: org.jsoup.nodes.Document?) => Any)` \
    [`jsoup`](https://jsoup.org/)을 이용해 `url`에 비동기 request를 보냅니다.
  </td>
  </tr>
  <tr>
  <td><span>[`org.jsoup.nodes.Document`](https://jsoup.org/apidocs/org/jsoup/nodes/Document.html)</span></td>
  <td>
    [`requestSync`](/reference/api2/Object/Http/requestSync(Object))`(option: Object)` \
    [`jsoup`](https://jsoup.org/)을 이용해 옵션에 따라 동기 request를 보냅니다. 요청에 대한 응답을 `org.jsoup.nodes.Document` 형식으로 반환합니다.
  </td>
  </tr>
  <tr>
  <td><span>[`org.jsoup.nodes.Document`](https://jsoup.org/apidocs/org/jsoup/nodes/Document.html)</span></td>
  <td>
    [`requestSync`](/reference/api2/Object/Http/requestSync(String))`(url: String)` \
    [`jsoup`](https://jsoup.org/)을 이용해 `url`에 동기 request를 보냅니다. 요청에 대한 응답을 `org.jsoup.nodes.Document` 형식으로 반환합니다.
  </td>
  </tr>
</tbody>
</table>
