---
title: Bridge.getActiveScripts()
category: 레거시 API
compat:
  data: legacy/Object/Bridge
  feature: getActiveScripts
---

<Section>
  컴파일된 스크립트의 이름을 배열로 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Bridge.getActiveScripts();
  ~~~

  <Section>
    ### 반환값

    `String[]` - 컴파일된 스크립트의 이름을 배열로 반환합니다.
  </Section>
</Section>