
<section>
  컴파일된 스크립트의 이름을 배열로 반환합니다.
</section>
<section>
  ## 구문

  ~~~js
  Bridge.getActiveScripts();
  ~~~

  <section>
  ### 반환값

  `String[]` - 컴파일된 스크립트의 이름을 배열로 반환합니다.
  </section>
</section>