---
title: EventEmitter 생성자
category: irispy-client
---

<Section>
  새 `EventEmitter` 객체를 생성합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  EventEmitter()
  EventEmitter(max_workers=max_workers)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"max_workers"} type={"int"} defaultValue={"None"} optional>
        이벤트 처리에 사용할 최대 스레드 수
      </ParamItem>
    </ParamList>
  </Section>
</Section>