---
title: Message.image
category: StarLight
---

<FeatureStatusNoti status={{experimental: true}}/>
<Section>
  ## Message.image

  메시지에 포함된 이미지에 대한 `android.graphics.Bitmap` 값입니다.
</Section>
<Section>
  ## 구문

  ~~~js
  msg.image;
  ~~~

  <Section>
    ### 값

    `android.graphics.Bitmap` - 메시지에 포함된 이미지에 대한 `android.graphics.Bitmap` 값입니다.
  </Section>
</Section>