---
title: iris.bot.models.Room
category: irispy-client
---

<Section>
  `iris.bot.models.Room`는 채팅방에 대한 데이터입니다.
</Section>
<Section>
  ## 생성자

  <Table>
    <Thead>
      <Tr>
        <Th>`iris.bot.models.Room`의 생성자</Th>
      </Tr>
    </Thead>
    <Tbody>
      <Tr>
        <Td>
          [`Room`](/reference/irispy-client/iris.bot.models/Class/Room/Room)`(id: int, name: str, api: IrisAPI)` \
          새 `Room` 객체를 생성합니다.
        </Td>
      </Tr>
    </Tbody>
  </Table>
</Section>
<Section>
  ## 인스턴스 프로퍼티

  <Table>
    <Thead>
      <Tr>
        <Th colSpan={2}>`iris.bot.models.Room`의 인스턴스 프로퍼티</Th>
      </Tr>
    </Thead>
    <Tbody>
      <Tr>
        <Td><span>`int`</span></Td>
        <Td>
          [`id`](/reference/irispy-client/iris.bot.models/Class/Room/id) \
          방의 id입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`str`</span></Td>
        <Td>
          [`name`](/reference/irispy-client/iris.bot.models/Class/Room/name) \
          방의 이름입니다.
        </Td>
      </Tr>
      <Tr>
        <Td><span>`str`</span></Td>
        <Td>
          [`type`](/reference/irispy-client/iris.bot.models/Class/Room/type) \
          방의 유형을 나타내는 문자열입니다. 이 프로퍼티는 캐시됩니다.
        </Td>
      </Tr>
    </Tbody>
  </Table>
</Section>