---
title: Message.param
category: irispy-client
---

<Section>
  메시지의 매개변수 부분입니다. 메시지의 첫번째 단어(명령어 부분)를 제외한 나머지입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  message.param
  ~~~

  <Section>
    ### 값

    `str` - 메시지의 매개변수 부분입니다.
  </Section>
</Section>