
특정 이벤트를 트리거합니다.
## 구문

~~~py
eventEmitter.emit(name, args)
~~~

### 매개변수

<params>
<param-item param="name" type="str">
트리거할 이벤트 이름
</param-item>
<param-item param="args" type="list[Any]">
핸들러에 전달할 인자
</param-item>
</params>
