---
title: EventEmitter.emit()
category: irispy-client
---

<Section>
  특정 이벤트를 트리거합니다.
</Section>
<Section>
  ## 구문

  ~~~py
  eventEmitter.emit(name, args)
  ~~~

  <Section>
    ### 매개변수

    <ParamList>
      <ParamItem param={"name"} type={"str"}>
        트리거할 이벤트 이름
      </ParamItem>
      <ParamItem param={"args"} type={"list[Any]"}>
        핸들러에 전달할 인자
      </ParamItem>
    </ParamList>
  </Section>
</Section>