---
title: ErrorContext.event
category: irispy-client
---

<Section>
  에러가 발생한 이벤트의 이름입니다.
</Section>
<Section>
  ## 구문

  ~~~py
  errorContext.event
  ~~~

  <Section>
    ### 값

    `str` - 에러가 발생한 이벤트의 이름입니다.
  </Section>
</Section>