
지정한 타원곡선을 이용해 공개키와 개인키를 생성합니다. 생성된 키는 Base64로 인코딩되어 반환됩니다.

## 구문

~~~js
Security.eccKey(curve);
~~~

### 매개변수

<params>
<param-item param="curve" type="String">
ECC 키 생성에 사용할 타원곡선(elliptic curve)의 이름
</param-item>
</params>
### 반환값

`Object` - 생성된 공개키와 개인키가 저장된 객체를 반환합니다. 객체의 구조는 아래와 같습니다.

~~~json
{
  "public": "...",
  "private": "..."
}
~~~
