---
title: Broadcast.getLocalEvents()
category: API2
compat:
  data: api2/Object/Broadcast
  feature: getLocalEvents
---

<Section>
  호출한 스크립트에서 리스너가 등록된 모든 브로드캐스트의 이름을 배열로 반환합니다.
</Section>
<Section>
  ## 구문

  ~~~js
  Broadcast.getLocalEvents();
  ~~~

  <Section>
    ### 반환값

    `String[]` - 호출한 스크립트에서 리스너가 등록된 모든 브로드캐스트의 이름을 배열로 반환합니다.
  </Section>
</Section>